<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
          <a href="{{ site.url }}{{ site.baseurl }}/contact">D2 Computer Vision and Multimodal Computing</a> <br />
		</div>
		<div class="col-sm-4">
          <a href="https://imprint.mpi-klsb.mpg.de/inf/pswoboda">Imprint/Impressum</a> <br />
		</div>
		<div class="col-sm-4">
          <a href="https://data-protection.mpi-klsb.mpg.de/inf/pswoboda">Data Protection/Datenschutzhinweise</a> <br />
		</div>
		<div class="col-sm-4">
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
