<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
		<div class="col-sm-4">
		  Contact:<br />
          <a href="https://www.mpi-inf.mpg.de/departments/computer-vision-and-multimodal-computing/">[D2 Computer Vision and Multimodal Computing]</a> <br />
          Max Planck Institute for Informatics <br />
          Campus E1 4 <br />
          66123 Saarbrücken <br />
          Germany
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
